.header-section{
    font-family: 'Roboto Mono', monospace;
    letter-spacing: large;
    display: flex;
    justify-content: space-between;
    font-size: 1rem;
    padding: 1em 2em;
    background-color: "rgb(204,214,246)";
}

.links-navbar{
    list-style-type: none;
    display: flex;
}
.links-navbar li{
    padding: 0em 1.5em;
    cursor: pointer;
}
.links-navbar li:hover{
  color: #57dec1;
}
.logo-img{
    width: 50px;
    cursor: pointer;
}
a{
    text-decoration: none;
    color: var(--grey-text);
}

@media screen and (max-width: 600px) {
    .header-section{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding: 2em 0em;
    }
    .links-navbar{
        margin: 0 auto;
        width: 80%;
        padding: 0px 1em;
        justify-content: space-between;
    }
    .links-navbar li{
        padding: 0em 0em;
    }
    li .numbers{
        display: none;
    }
    .logo-img{
        display: none;
    }
  }