.hero-section{
    max-width: 1000px;
    font-family: 'Roboto', monospace;
    margin: 0 auto;
    padding: 100px 0px;
    margin-bottom: 0px;
    font-size: 1.2rem;
}
.name{
    word-spacing: normal;
    color: var(--light-text);
    line-height: 0.2em;
}
.sub-head{
    word-spacing: small;
    letter-spacing: small;
    color: var(--grey-text);
    font-size: 4rem;
}
h1{
    font-weight: 700;
    font-size: 28px;
    margin-bottom: 0px;
}
.medium{
    padding: 5px;
}
.paragraph{
    max-width: 550px;
    font-family: 'Inter', sans-serif;
    color: var(--grey-text);
    line-height: 1.4em;
    font-size: 1rem;
    margin-top: 0px;
}

@media screen and (max-width: 600px){   
    .hero-section{
        padding: 50px 20px;

    }
    .name{
        margin-top: 0px;
        line-height: 1em;
    }
    .sub-head{
        font-size: 28px;
    }
}
