.hero-section{
    max-width: 1000px;
    font-family: 'Roboto', monospace;
    margin: 0 auto;
    padding-top: 100px;
    font-size: 1.2rem;
    height: 100vh;
}
.name{
    word-spacing: normal;
    color: var(--light-text);
    line-height: 0.2em;
}
.sub-head{
    word-spacing: small;
    letter-spacing: small;
    color: var(--grey-text);
}
h1{
    font-weight: 700;
    font-size: 28px;
    margin-bottom: 0px;
}
.medium{
    padding: 5px;
}
.paragraph{
    max-width: 550px;
    font-family: 'Inter', sans-serif;
    color: var(--grey-text);
    line-height: 1.4em;
    font-size: 1rem;
    margin-top: 0px;
}
